body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(252, 181, 242);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(230, 28, 6);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image {
    flex: 1;
    max-width: 20%; /* Adjust as needed */
    margin: 0 10px; /* Adjust as needed */
}

.left {
    order: -1; /* Places the left side image before the main content */
}

.right {
    order: 1; /* Places the right side image after the main content */
}

.main-content {
    flex: 3; /* Adjust as needed */
    text-align: center; /* Adjust as needed */
}

.gif_container img {
    max-width: 50%; /* Ensures the image doesn't exceed its container's width */
    max-height: 100%; /* Ensures the image doesn't exceed its container's height */
}

.side-image {
    flex: 1;
    max-width: 25%;
    margin: 0 -50px; /* Decreased the margin to move images closer */
}


